<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Isendu_ConnectorModule::connector" title="Isendu"
             module="Isendu_ConnectorModule" resource="Isendu_ConnectorModule::connector"
             translate="title" sortOrder="900" action="isendu"/>
    </menu>
</config>
